
    <div class="sticky">
        <h1>Mensajes</h1>
        <div class="line"></div>
    </div>
    <div class="contenedorChat" id="messages">

    </div>
    <div class="stickyBottom">
        <input type="text" id="chatbox"  placeholder="Escribi tu mensaje...">
    </div>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/chat.js"></script>
