    {{#if favorite}}
        <div class="sticky">
            <h1>Tus productos Favoritos</h1>
            <div class="line"></div>
        </div>

    {{else}}
        <div class="sticky">
            <h2>No tenes productos favoritos</h2>
            <div class="line"></div>
        </div>
    {{/if}}