<div>
    <div class="noAccess">
        <img src="img/restricted.png" alt="">
        <div>
            <p>Hola {{user.first_name}}, No podes acceder a esta seccion de la web, no contas con los permisos necesarios.-</p>
            <p>Si consideras que es un error, Contacta al Administrador del Sitio.-</p>
        </div>
    </div>
</div>