<div class="sticky">
    <h1>Nueva Contraseña!</h1>
    <div class="line"></div>
</div>

<form class="lgForm" action="/api/users/resetPassword" method="POST">
    <input class="lgFormItem" type="email" name="email" placeholder="Ingresa tu e-Mail" required>
    <input class="lgFormItem" type="number" name="token" id="token" placeholder="Codigo de seguridad" required>
    <div class="lgFormItem inLine">
        <input class="lgFormPass" id="loginPass" type="password" name="password" placeholder="Contraseña" required>
        <img class="ico" src="/img/noVisible.png" id="loginPass-ico" onclick="pass()" alt="">
    </div>
    <div class="lgFormItem inLine">
        <input class="lgFormPass" id="loginRePass" type="password" name="repassword" placeholder="Reingrese Contraseña" required>
        <img class="ico" src="/img/noVisible.png" id="loginRePass-ico" onclick="pass2()" alt="">
    </div>
    <button class="lgFormBtn" type="submit">Restablecer</button>
</form>

{{#if error}}
    <p>{{error}}</p>
{{/if}}


<script src="/js/util.js"></script>