<div class="sticky">
    <h1>Restablece tu Contraseña!</h1>
    <div class="line"></div>
</div>

<form class="lgForm" action="/api/users/requestPasswordReset" method="POST">
    <input class="lgFormItem" type="text" name="email" id="email" placeholder="Ingresa tu e-Mail!" required>
    <button class="lgFormBtn" type="submit">Restablecer</button>
</form>

{{#if error}}
    <p>{{error}}</p>
{{/if}}