<div class="sticky">
    <h1>E-Mail de restablecimeinto Enviado!</h1>
    <div class="line"></div>
</div>

<div class="sendMail">
    <p>Revisa tu correo, recorda que tenes 1Hs para restablecer tu contraseña, antes que el Token expire, de lo contrario tenes que solicitar uno nuevamente!</p>
</div>